body {
    background-color: lightgray;
}

.calculator {
    border: solid 1px black;
    background-color: lightblue;
    margin-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 25%;
}